/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

/*@font-face {
	font-family: 'PTSerifRegular';
	src: url('fonts/PTF55F-webfont.eot');
	src: url('fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/PTF55F-webfont.woff') format('woff'),
		 url('fonts/PTF55F-webfont.ttf') format('truetype'),
		 url('fonts/PTF55F-webfont.svg#PTSerifRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}*/

html{
	padding: 10px;
	background: rgb(233,246,253); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZTlmNmZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QzZWVmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(233,246,253,1) 66%, rgba(211,238,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(66%,rgba(233,246,253,1)), color-stop(100%,rgba(211,238,251,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(233,246,253,1) 66%,rgba(211,238,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(233,246,253,1) 66%,rgba(211,238,251,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(233,246,253,1) 66%,rgba(211,238,251,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(233,246,253,1) 66%,rgba(211,238,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	font-family: consolas, monospace;
}

#canvas{
	display: block;
}

#topTable{
	width:100%;
	height: 320px;
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: top;
}

#topRow{
	width: 100%;
	height: 100%;
	display: table-row;
}

#container{
	display: table-cell;
	border: 1px solid #000000;
}

#leftCol{
	display: table-cell;
	width: 30%;
	min-width: 200px;
	vertical-align: top;
	padding-right: 1em;
	padding-left: 1em;
}

#rightCol{
	display: table-cell;
	width: 25%;
	min-width: 200px;
	vertical-align: top;
}

#controls{
	font-size: 1.25em;
	border-spacing: 3px;
	margin: auto;
	margin-bottom: 10%;
}

#controls tr{

}

#controls td{
	padding: 5px;
}

#colorScheme{
	height: 110px;
	font-size: 1em;
	text-align: center;
}

#colorScheme p{
	margin-top: 1em;
}

/***********
 * Squares *
 ***********/

.square {
	width: 15px;
	height: 15px;
	display: inline-block;
	cursor: pointer;

}
.active{
	width: 20px;
	height: 20px;
	position: absolute;
}
.square:hover{
	width: 20px;
	height: 20px;
	position: fixed;

}

.red {
	background: #FA6969;
}

.blue{
	background: #6DA7D1;
}

.black{
	background: #000000;
}

.white{
	background: #FFFFFF;
}

.orange{
	background: #FF9773;
}

.green{
	background: #00B25C;
}

/****************
* Rom Selection *
****************/

#romSelect{
	margin: 1em;
	text-align: center;
}
/* Credit: cssdeck.com */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #FFFFFF inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #FFFFFF inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #FFFFFF inset;
    background: #ffffff;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}

label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}