/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

/*@font-face {
	font-family: 'PTSerifRegular';
	src: url('fonts/PTF55F-webfont.eot');
	src: url('fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/PTF55F-webfont.woff') format('woff'),
		 url('fonts/PTF55F-webfont.ttf') format('truetype'),
		 url('fonts/PTF55F-webfont.svg#PTSerifRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}*/

html{
	padding: 10px;
background: rgb(216,224,222); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 93%, rgba(153,175,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(216,224,222,1)), color-stop(93%,rgba(174,191,188,1)), color-stop(100%,rgba(153,175,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 93%,rgba(153,175,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 93%,rgba(153,175,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 93%,rgba(153,175,171,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 93%,rgba(153,175,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#99afab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	font-family: consolas, monospace;
}

#canvas{
	display: block;
}

#topTable{
	width:100%;
	height: 320px;
	margin-bottom: 3%;
	text-align: top;
}

#topRow{
	width: 100%;
	height: 100%;
	display: table-row;
}

#container{
	display: table-cell;
	border: 1px solid #000000;
}

#leftWrap{
    width: 30%;
    min-width: 200px;
    display: table-cell;
}
#leftCol{
    width: 30%;
    min-width: 200px;
    vertical-align: top;
    padding: 0.5em;
    display: table-cell;
}

#bottom{
    width:100%;
    height: 200px;
}

.background{
    background-color: #F0F0F0;
}

#rightCol{
	display: table-cell;
	width: 25%;
	min-width: 200px;
	vertical-align: top;
}

#controls{
	font-size: 1.25em;
	border-spacing: 3px;
	margin: auto;
	margin-bottom: 10%;
}

#controls tr{

}

#controls td{
	padding: 5px;
}

#colorScheme{
	height: 110px;
	font-size: 1em;
	text-align: center;
}

#colorScheme p{
	margin-top: 1em;
}

/***********
 * Squares *
 ***********/

.square {
	width: 15px;
	height: 15px;
	display: inline-block;
	cursor: pointer;

}
.active{
	width: 20px;
	height: 20px;
	position: absolute;
}
.square:hover{
	width: 20px;
	height: 20px;
	position: fixed;

}

.red {
	background: #FA6969;
}

.blue{
	background: #6DA7D1;
}

.black{
	background: #000000;
}

.white{
	background: #FFFFFF;
}

.orange{
	background: #FF9773;
}

.green{
	background: #00B25C;
}

/****************
* Rom Selection *
****************/

#romSelect{
	margin: 1em;
	text-align: center;
}
/* Credit: cssdeck.com */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #FFFFFF inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #FFFFFF inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #FFFFFF inset;
    background: #ffffff;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}

label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}