$blue: #427ab8;
$blue-hover: #1360b2;
$text-color: #ddd;

body {
	background-image: linear-gradient(to bottom, #020917, #0f0f10);
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	justify-content: center;
	line-height: 1.1;
	margin: 0;
	min-height: 100vh;
	text-align: center;
}

canvas:focus {
	outline: none;
}

.canvas-stopped {
	background-color: #22232a;
}

.canvas-started {
	background-color: #22232a;
	box-shadow: 0 0px 5px 1px #ebebeb;
}

.content {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#keyboard-inputs {
	color: $text-color;
	display: flex;
	font-size: 14px;
	gap: 20px;
	margin-bottom: 4em;
	margin-top: 5px;
}

#rom-selector {
	background-color: $blue;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	height: 30px;
	padding: 0 5px;
	transition: background-color 0.3s ease, box-shadow 0.2s ease;
	width: 120px;
}

#rom-selector:hover {
	background-color: $blue-hover;
}

#start-button {
	background-color: $blue;
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	height: 30px;
	margin-right: 1em;
	transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
	width: 120px;
}

#start-button:hover {
	background-color: $blue-hover;
}

#view-github-link {
	color: $text-color;
	position: absolute;
	right: 50px;
	text-decoration: none;
	top: 20px;

	svg {
		margin-left: 8px;
	}

	path {
		fill: $text-color;
	}
}

#view-github-link:hover {
	color: #fff;

	path {
		fill: #fff;
	}
}
