body {
	background-image: linear-gradient(to bottom, #020917, #1a1a21);
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	justify-content: center;
	line-height: 1.1;
	margin: 0;
	min-height: 100vh;
	text-align: center;
}

.canvas-stopped {
	background-color: #1f2029;
}

.canvas-started {
	background-color: #282a36;
	box-shadow: 0 0px 5px 1px #ebebeb;
}

.content {
	margin-top: 1em;
}

.rom-selector {
	width: 120px;
	height: 30px;
}

.start-button {
	background-color: #306daf;
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	height: 30px;
	margin-right: 1em;
	transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
	width: 120px;
}

.start-button:active {
	background-color: #004085;
}

.start-button:hover {
	background-color: #0056b3;
}
